
header{
}

.header_infor {
    display: flex;
    justify-content: space-between;
    height: 64px;
}

.header_infor_item {
    display: flex;
    justify-content: center;
    align-items: center;
}
.header_infor_service{
    z-index: 4;
    width: 58%;
}

.header_infor_hotline {
    text-decoration: none;
    color: #feffff;
}
.header_infor_list {
    list-style: none;
    padding-left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.header_infor_list_item {
    display: flex;
    justify-content: center;
    align-items: center;
}


.header_infor_list_item:hover .header_infor_list_link{
    background: linear-gradient(-45deg, #D000F7, #24BAE3);
    background-clip: text;
    -webkit-background-clip: text; 
    color: transparent;
}
.header_infor_list_link {
    text-decoration: none;
    color:white;
    font-size: 14px;
}
.link_homepage{
    background: linear-gradient(-45deg, #D000F7, #24BAE3);
    background-clip: text;
    -webkit-background-clip: text; 
    color: transparent;
}
@keyframes colorShift {
    0% {
      background-position: 0% 0; /* Bắt đầu từ vị trí bên trái */
    }
    100% {
      background-position: 100% 0; /* Kết thúc tại vị trí bên phải */
    }
  }
.header_infor_account{
    width: 15%;
    justify-content: flex-end;
}
.btnlogin {
    background: linear-gradient(-45deg, #D000F7, #24BAE3);
    border: none;
    border-radius: 4px;
    height: 32px;
    width: 50%;
    transition: .5s;
    text-decoration: none;
    color: white;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 2px;
    box-shadow: 1.5px 4px 10px rgba(208, 0, 247, 0.7);
}
.btnlogin:hover{
    opacity: 0.6;
    box-shadow: none;
    transform: translateY(5px);
}



/*code header tool */
.header_tools {
    margin-top:16px;
    display: flex;
    justify-content: space-between;
    height: 100px;
}
#btn_showmore_info{
    display: none;
}

.header_logo {
    height: 200px;
    width: 18%;
    position: relative;
    display: flex;
    align-items: center;
}
.header_logo_img {
    height: 100%;
    width: 100%;
    position: absolute;
    top: -35%;
    left:-15%;
    object-fit: contain;
}
.header_search {
    z-index: 3;
    width: 60%;
    margin-left: -3%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-wrap: wrap;
}


.header_search_bar {
    border-radius: 5px;
    border: none;
    height: 100%;
    width: 100%;
    color: grey;
    padding-left: 10px;
    z-index: 3;
}
.header_search_btn {
    text-decoration: none;
    background: linear-gradient(-45deg, #D000F7, #24BAE3);
    display: flex;
    border: none;
    justify-content: center;
    align-items: center;
    height: 38px;
    width: 60px;
    position: absolute;
    right: 0.2%;
    border-radius: 4px;
    z-index: 3;
}
.header_search_btn:hover {
    opacity: 0.6;
    transition: 0.6s;
}
.header_search_hot {
    margin-top: 10px;
    padding-left: 0;
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
}
.header_search_hot_items {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 11.111111%;
}
.header_search_hot_items:hover {
    opacity: 0.6;
    transition: 0.6s;
}
.header_search_hot_links {
    text-decoration: none;
    color: aliceblue;
    font-size: 12px;
    white-space: nowrap; /* Ngăn chữ xuống dòng */
    overflow: hidden; /* Ẩn phần dư thừa của nội dung */
    text-overflow: ellipsis; /* Hiển thị dấu ... khi nội dung bị cắt ngắn */
}

.header_cart {
    margin-top: 3px;
    margin-right: 3%;
    width:12%;
    display: flex;
    justify-content: flex-end;
    position: relative;
    z-index: 3;

}
.header_cart:hover{
    cursor: pointer; 
}
.header_cart::before{
    text-align: center;
    line-height: 14px;
    content: "3";
    background-color: white;
    border-radius: 40%;
    width: 26px;
    height: 16px;
    position: absolute;
    border: #1c1f24 solid 1px;
    top: -6%;
    font-size: 14px;
    font-weight: 500;
    z-index: 2;
}
.icon_cart{
    position: absolute;
    z-index: 1;
    right: 9%;
}

/*Code hiệu ứng */
/*code hiện thanh tìm kiếm */
.header_search_bar:focus ~ .header__Search-history{
    display: block;
}
.header__Search-history {
    z-index: 3;
    position: absolute;
    top: 42px;
    left: 0;
    display: none;
    width: 91%;
    background-color: #feffff;
    box-shadow: 0 1px 5px rgb(172, 172, 172);
    overflow: hidden;
    border-radius: 2px;
}
.header__Search-history-heading {
    background: linear-gradient(45deg, #ff00cc, #3333ff);
    background-clip: text;
    -webkit-background-clip: text; /* Cho trình duyệt Safari cũ */
    color: transparent; /* Để chữ trở thành màu trong suốt */
    margin-left: 10px;
    margin-top: 8px;
    margin-bottom: 9px;
}
.header__Search-history-list {
    list-style: none;
    padding-left: 0;
}
.header__Search-history-item {
    padding: 4px 0;
}
.header__Search-history-item:hover {
    background-color: aliceblue;
}
.header__Search-history_link{
    margin-left: 10px;
    display: block;
    text-decoration: none;
    color: gray;
    font-size: 12px;
    margin-bottom: 8px;
    white-space: nowrap; /* Ngăn chữ xuống dòng */
    overflow: hidden; /* Ẩn phần dư thừa của nội dung */
    text-overflow: ellipsis; /* Hiển thị dấu ... khi nội dung bị cắt ngắn */
}


/*code thông báo*/
.header_infor_notify{
    position: relative;
    z-index: 2;
}
.header_infor_notify:hover .header__notify{
    opacity: 1;
    display: block;
}
.header__notify {
    position: absolute;
    top: 45px;
    box-shadow: 0 1px 5px rgb(172, 172, 172);
    display: none;
    width: 404px;
    z-index: 2;
    right: 0;
    border-radius: 3px;
    opacity: 1;
    cursor: default;
    animation: headerNotifyGrowth ease-in 0.2s;
    will-change: opacity, transform;
    padding-bottom: 8px;
    background-color: whitesmoke;
    
}
@keyframes headerNotifyGrowth{
    from {
        transform: scale(0);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}
.header__notify::before{
    content: "";
    border-width: 20px 27px ;
    border-style: solid;
    border-color: transparent transparent  whitesmoke transparent ;
    position: absolute;
    top: -35px;
    right: 4px;
    z-index: -1;
}

.header__notify::after{
   content: "";
   display: block;
   position: absolute;
   width: 90px;
   height: 20px; ;
   right: 0;
   top: -16px; 
}
.header__notify-header {
    height: 40px ;
    padding-top: 6px;
    padding-left:  10px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.header__notify-header h3{
    color: gray;
    font-weight: 400;
    font-size: 16px;
}
.header__notify-list {
    list-style: none;
    padding-left:  0px;
    padding-right: 0px;

}

.header__notify-item {
    height: 72px;
    display: flex;
    align-items: center;
    width: 100%;
    padding-right: 20px;
    
}
.header__notify-item:hover{
    background: linear-gradient(to left top, rgb(249, 168, 212), rgb(216, 180, 254), rgb(129, 140, 248));
    transition: 0.2s;
}

.header__notify-link {
    margin-left: 10px;
    display: flex;
    align-items: center;
    text-decoration: none;
    width: 100%;
}
.header__notify-img {
    width: 48px ;
    object-fit: contain;
}
.header__notify-info {
    margin-left: 10px;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis; /* Hiển thị dấu ... khi nội dung bị cắt ngắn */
    white-space: nowrap; /* Ngăn chữ xuống dòng */
}
.header__notify-name {
    color: black;
    font-weight: 400;

}
.header__notify-descrition {
    color: gray;
    font-weight: 300;
    font-size: 14px;
    
}
.header__notify-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.header__notify-footer-btn {
    text-decoration: none;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
}


/*Coderheader_cart notify*/
.header_cart:hover .header_cart_notify{
    display: flex ;
}
.header_cart_notify {
    z-index: 3;
    position: absolute;
    background-color: whitesmoke;
    top:54px;
    width: 450px;
    height: 400px;
    display: none;
    flex-direction: column;
    border-radius: 5px;
    box-shadow: 0 1px 5px rgb(172, 172, 172);
    animation: headerNotifyGrowth ease-in 0.2s;
    will-change: opacity, transform;
}
.header_cart_notify::before{
    content: "";
    border-width: 20px 27px ;
    border-style: solid;
    border-color: transparent transparent  whitesmoke transparent ;
    position: absolute;
    top: -35px;
    right: 4px;
    z-index: -1;
}
.header_cart_notify::after{
   content: "";
   display: block;
   position: absolute;
   width: 90px;
   height: 20px; ;
   right: 0;
   top: -16px; 
}
.header_cart_notify_title {
    height: 10%;
    color: gray;
    font-size: 15px;
    font-weight: 300;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 8px;
    display: block;
}
.header_cart_notify_list {
    list-style: none;
    padding: 0 ;
    flex: 1;
    display: flex;
    flex-direction: column;
}
.header_cart_notify_item {
    height:25%;
    height: 100%;
    display: flex;
    align-items: center;

}
.header_cart_notify_item:hover {
    background: linear-gradient(to left top, rgb(249, 168, 212), rgb(216, 180, 254), rgb(129, 140, 248));
}
.header_cart_notify_link {
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    width: 100%;
    padding:0 10px;
}
.header_cart_img_product {
    object-fit: contain;
    width: 15%;
}
.header_cart_name_product {
    width: 60%;
    font-size: 14px;
    font-weight: 500;
    color: #1c1f24;
    white-space: nowrap; /* Ngăn chữ xuống dòng */
    overflow: hidden; /* Ẩn phần dư thừa của nội dung */
    text-overflow: ellipsis; /* Hiển thị dấu ... khi nội dung bị cắt ngắn */
    
}
.header_cart_cost_product {
    width: 18%;
    font-weight: 400;
    font-size: 13px;
    background: linear-gradient(45deg, #ff00cc, #3333ff);
    background-clip: text;
    -webkit-background-clip: text; /* Cho trình duyệt Safari cũ */
    color: transparent;
}
.header_cart_notify_showmore {
    height:  13%;
    display: flex;
    align-items: center;
    padding: 0 10px;
    justify-content: space-between;
}
.header_cart_notify_quality {
    color:#1c1f24;
    font-weight: 400;
    font-size: 14px;
}
.header_cart_notify_view_showmore {
    width: 45%;
    font-size: 15px;
    font-weight: 500;
    border-radius: 3px;
    border: none;
    padding: 10px 0;
    background: linear-gradient(-45deg, #D000F7, #24BAE3);
}
.header_cart_notify_view_showmore:hover {
    opacity: 0.7;
    transition: 0.4s;
}
.btn_showmore_link{
    text-decoration: none;
    color: white;
}
.container{
    width: 100%;
    position: relative;
}

#slide {
    position: relative;
    height: 600px;
}


.directional {
    position: absolute;
    bottom: 1px;
    width: 100%;
    text-align: center;
    z-index: 3;
}
.directional button{
    width: 50px;
    height: 50px;
    color: white;
    background-color: transparent;
    border: none;
    opacity: 0.2;
}
.directional button:hover{
    opacity: 1;
}
#slide .Slide_item{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: none;
}
#slide .Slide_item.active{
    display: block;
}
/*Tạo hiệu ứng*/
#slide .Slide_item .image{
    z-index: 2;
    position: absolute;
    top: 0;
    left: 25%;
    width: 50%;
    height: 100%;
    text-align:center ;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transform: scale(2);
    animation: imgIn 1.5s ease-in-out 1 forwards;
    will-change:  transform, opacity, filter;
}
@keyframes imgIn{
    from{
        transform: scale(2) translateZ(-100%);
        opacity: 0;
        filter: blur(33px);
    }
    to{
        opacity: 1;
        transform: scale(1) translate(0,0);
    }
}

#slide .Slide_item .image img{
    width: 100%;
    transition: 0.5s;
    object-fit: contain;
}
#slide .Slide_item .image::after{
    position: absolute;
    width: 60%;
    bottom: 70px;
    height: 60px;
    background-color: #000;
    content: '';
    z-index: -1;
    border-radius: 50%;
    filter: blur(30px);
}
#slide .Slide_item .image img:hover{
    transform: scale(1.1);
}

.left {
    position: absolute;
    left: 40px;
    top:15%;
    color: white;
    display: block;
}
#slide .Slide_item .left,
#slide .Slide_item .right{
    animation: contentIn 1s ease-in-out 1 forwards;
    will-change:  opacity, transform, filter;
}
@keyframes contentIn{
    from{
        opacity: 0;
        transform: translate(0,100%);
        filter: blur(33px);
    }
    to{
        opacity: 1;
        transform: translate(0,0);
    }
}

.left h1{
    font-size: xxx-large;
    font-weight: 500;
    margin-bottom: 10px;
}
.description {
    font-size: small;
    font-weight: 100;
    opacity: 0.6;
    margin-bottom: 20px;
    width: 58%;
}
.left button{
    font-size: small;
    background-color: transparent;
    border: none;
    color: white;
}
.left button i{
    margin-left: 10px;
}

.right {
    position: absolute;
    right: 40px;
    top:15%;
    color: white;
    display: block;
}
.right h2{
    font-size: large;
    font-weight: 500;
    margin-bottom: 10px;
}
.right ul{
    padding: 0;
    margin: 0;
    list-style: none;
}
.right li{
    font-size: small;
    position: relative;
    margin-top: 20px;
}
.right li::before{
    position: absolute;
    left: -40px;
    top: 50%;
    transform: translate(0,-50%);
    width: 8px;
    height: 8px;
    background-color: #8c0781;
    content: '';
    border-radius: 50%;
    box-shadow:  0 0 10px #8c0781;
}
.right li p:nth-child(1){
    font-weight: 600;
    padding: 0;
    margin: 0;
}
.right li p:nth-child(2){
    font-weight: 100;
    padding: 0;
    margin: 0;
    font-size: x-small;
}

.container::before{
    content: "";
    display: block;
    width: 100%;
    height: 50px;
    border-radius: 0% 0% 60% 60%;
    position: absolute;
    bottom: -30px;
}
/*banner*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');
.category{
    height: 800px;
}
:root{
    --light: #eaecee;
    --color-text: #3c3e41;
    --box-shadow: 
    5px 5px 15px #c1c8d3, 
    -5px -5px 15px #ffffff;
    --gradient-bg: linear-gradient(-45deg, #D000F7, #24BAE3);
}

.introduce{
    color: #d4d4d4;
    display: flex;
    justify-content: center;
    align-items: center;
}
.profile{
    width: 1200px;
    max-width: 90%;
    margin: auto;
}
.banner{
    margin-top: 150px;
    display: grid;
    grid-template-columns: 60% 40%;
    padding-bottom: 50px;
}
.banner .content{
    text-align: justify;
    padding-right: 50px;
}
.banner .content h1{
    font-size: 4.5em;
    margin: 0;
}
.gradientText{
  display: inline-block;
    background: var(--gradient-bg);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.job{
   display: inline-block;
}
.job::before{
    content: attr(data-job1);
    overflow: hidden;
    display: inline-flex;
    animation: effectText 1s linear infinite alternate,
    changeText 4s linear infinite;
    will-change: contents;
}
@keyframes effectText{
    from{
        max-width: 0;
    }to{
        max-width: 500px;
    }
}
@keyframes changeText{
    from{
        content: attr(data-job1);
    }
    to{
        content: attr(data-job2);
    }
}
.find{
    margin-top: 50px;
}
.find ul{
    padding: 0;
    list-style: none;
    display: flex;
}
.find ul li{
    width: 50px;
    height: 50px;
    box-shadow:-5px -5px 15px rgb(87, 87, 87),5px 5px 15px rgb(0, 0, 0);
    margin: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.5s;
}
.find ul li:hover{
    color: #fff;
    background-image: var(--gradient-bg);
}
.banner .avatar{
    position: relative;
    height: max-content;
    text-align: center;
}
.banner .avatar::before{
    position: absolute;
    width: 90%;
    height: 80%;
    content: '';
    z-index: -1;
    bottom: 40px;
    right: 20px;
    border-radius: 10px;
    box-shadow:-20px -20px 60px rgb(87, 87, 87),20px 20px 60px rgb(0, 0, 0);

}
.banner img{
    width: 90%;
}

.title{
    text-align: center;
    padding-top: 100px;
}
.listSkill{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px 20px;
    border-bottom: 1px solid #dce1e4;
    padding-bottom: 50px;
}
.listSkill .evaluate{
    width: 100%;
    height: 20px;
    box-shadow: var(--box-shadow);
    border-radius: 10px;
    margin-top: 20px;
    position: relative;
}
.listSkill .evaluate::before{
    position: absolute;
    height: 100%;
    width: var(--point);
    background-image: var(--gradient-bg);
    content: '';
    border-radius: 10px;
}
.listProject{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    border-bottom: 1px solid #dce1e4;
    padding-bottom: 50px;
}
.listProject .item{
    text-align: center;
    box-shadow: var(--box-shadow);
    padding: 20px;
}
.listProject .item img{
    width: 90%;
    border-radius: 20px;
}
.listProject .item{
    text-align: center;
    border-radius: 10px;
    font-weight: bold;
    font-size: large;
}
.contact{
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
.contact li{
    width: 50px;
    height: 50px;
    margin: 20px;
    box-shadow: var(--box-shadow);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    transition: 0.5s;
}
.contact li:hover{
    background-image: var(--gradient-bg);
    color: #fff;
}

/*code main*/
.Pdportfolio{
    margin-top: 70px;
}
.Pdportfolio_list{
    border-radius: 8px;
    background: radial-gradient(at center top, rgb(55, 65, 81), rgb(17, 24, 39), rgb(0, 0, 0));
    box-shadow: 5px 5px 15px #2f3033, 
    -5px -5px 15px #131212;
}
.Pdportfolio_item {
    border-radius: 8px;
    display: flex;
    height: 100px;
    flex-direction: column ;
    justify-content: center;
    align-items: center;
    color: white;
    text-decoration: none;
}
.Pdportfolio_item:hover{
    background: linear-gradient(-45deg, #D000F7, #24BAE3);
    transition: 0.6s;
    cursor: pointer;
}
.Pdportfolio_item h3{
    font-size: 18px;
    font-weight: 500;
}
.Pdportfolio_item svg{
    fill: white;
    width: 24px;
    height: 24px;
    margin-top: -10px;
    margin-bottom: 4px;
}
.item_icon{
    
    margin-bottom: 10px;
}
.Product_hot {
    margin-top: 70px;
}
.Product_hot_list{
    position: relative;
}
.Product_hot_list .left, .Product_hot_list .right{
    opacity: 0.7;
    width: 40px;
    height: 60px;
    background: rgb(17, 24, 39);
    box-shadow:-20px -20px 30px #2f3033,20px 20px 30px #131212,inset -20px -20px 30px #2f3033, inset 20px 20px 30px #131212;
    z-index: 1;
    border-radius: 4px;
    position: absolute;
    top: 175px;
    border: none;
}
.Product_hot_list .left:hover, .Product_hot_list .right:hover{
    background: linear-gradient(-45deg, #D000F7, #24BAE3);
    box-shadow:-5px -5px 15px #24BAE3,5px 5px 15px #D000F7,inset -5px -5px 15px #24BAE3, inset 5px 5px 15px #D000F7;
    cursor: pointer;
}

.Product_hot_list .left{
    left: 0;
}
.Product_hot_list .right{

    right: 0;  
}
.Product_hot_title {
    background: linear-gradient(-45deg, #D000F7, #24BAE3);
    height: 31px;
    width: 30%;
    position: relative;
    border-top-right-radius: 140px;
    color: white;
    padding-left: 10px;
    margin-bottom: 15px;
}
.Product_hot_title h2{
    font-weight: 700;
    font-size: 20px;

}
.Product_hot_list .item {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 338px;
    border-radius: 8px;
    background: radial-gradient(at center center, rgb(55, 65, 81), rgb(17, 24, 39), rgb(0, 0, 0));
    box-shadow: 5px 5px 15px #2f3033, 
    -5px -5px 15px #131212;
}
.item img{
    height: 75%;
    width: 100%;
    object-fit: contain;
    position: relative;
}
.item h3{
    background: linear-gradient(-45deg, #D000F7, #24BAE3);
    background-clip: text;
    -webkit-background-clip: text; 
    color: transparent;
    height: 10%;
}
.Product_hot_list .item button{
    width: 60%;
    height: 40px;
    border-radius: 8px;
    border: none;
    color: #d4d4d4;
    background: radial-gradient(at left bottom, rgb(55, 65, 81), rgb(17, 24, 39), rgb(0, 0, 0));
    box-shadow:-5px -5px 15px #2f3033,5px 5px 15px #131212,inset -5px -5px 15px #2f3033, inset 5px 5px 15px #131212;
    z-index: 2;
}
.Product_hot_list .item button:hover{
    background: linear-gradient(-45deg, #D000F7, #24BAE3);
    box-shadow:-5px -5px 15px #24BAE3,5px 5px 15px #D000F7,inset -5px -5px 15px #24BAE3, inset 5px 5px 15px #D000F7;
    cursor: pointer;
}

/*Product sale*/
.Product_sale {
    margin-top: 80px;
}
.Product_salePage{
    background: radial-gradient(at center center, rgb(55, 65, 81), rgb(17, 24, 39), rgb(0, 0, 0));
    box-shadow: 5px 5px 15px #2f3033, 
    -5px -5px 15px #131212;
    height: 100%;
    border-radius: 10px;
}
.Sale_cover {
    height: 130px;
    display: flex;
    align-items: center;
    position: relative;
}
.Sale_cover_left {
    width: 40%;
    height: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 2;
}
.Sale_cover_left h3{
    font-size: 20px;
    margin-bottom: 15px;
    position: relative;
    z-index: 2;
}

.time_end {
    display: flex;
    align-items: center;
}
.time_end h4{
    margin-right: 8px;
    font-weight: 400;
}
.hour, .minute, .second {
    background-color:#131212;
    width: 36px;
    height: 37px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 6px;
    border-radius: 6px;
    border: none;
    box-shadow: inset -2px -2px 10px #444444, inset 2px 2px 10px #000000;
}

.Sale_cover_right{
    height: 100%;
    position: relative;
    width: 60%;
}
.Happenning, .Upcoming{
    width:25%;
    height: 28px;
    border-radius: 10px;
    font-size: 15px;
    position: absolute;
    border: none;
    color: white;
    bottom:15px;
}
.Happenning {
    background: linear-gradient(-45deg, #D000F7, #24BAE3);
    box-shadow:-5px -5px 15px #24BAE3,5px 5px 15px #D000F7,inset -5px -5px 15px #24BAE3, inset 5px 5px 15px #D000F7;
    left:20%;
    z-index: 2;
}
.Upcoming {
    background: #131212 ;
    right:20%;
    box-shadow: inset -2px -2px 10px #444444, inset 2px 2px 10px #000000;
    z-index:2;
}
.logo_salepage_title{
    background: linear-gradient(-45deg, #D000F7, #24BAE3);
    background-clip: text;
    -webkit-background-clip: text; 
    color: transparent; 
    -webkit-text-stroke: 2px #fff; 
    font-style:italic;
    font-size: xxx-large;
    top: 5px;
    left: 20%;
    position: absolute;
    z-index: 2;
}
.logo_salepage_title span{
    font-size: 60px;
}
.lightning_blue {
    position: absolute;
    width: 75%;
    height: 500px;
    object-fit: contain;
    transform: rotate(-35deg);
    top: -191px;
    left: -165px;
    z-index: 1;
}
.lightningpink {
    position: absolute;
    width: 76%;
    height: 500px;
    top: -20px;
    right: -4px;
    z-index:1 ;
}

/*sale*/

.Sale_category {
    margin-top: 10px;
    padding: 10px 0;
    color: rgb(219, 219, 219);

}
.Sale_item {
    height: 450px;
    border-radius: 6%;
    background-color: rgb(22, 22, 22);
    box-shadow: 0px 15px 20px rgb(55, 65, 81);
    margin:20px 0;
    position: relative;
    padding-bottom: 8px;
}
.Item_basicInfo{
    padding: 20px 16px;
    border-radius: 20px;
    height: 75%;
    background:  radial-gradient(at center center, rgb(55, 65, 81), rgb(17, 24, 39), rgb(0, 0, 0));
    box-shadow: inset -5px -5px 15px rgb(55, 65, 81), inset 5px 5px 15px rgb(0, 0, 0);
    
}
.Sale_item:hover .Item_cart{
    display: flex;
    animation: Oncart 0.3s ease-in-out 1 forwards;
    will-change: transform, opacity, filter;
    z-index: 2;
}
@keyframes Oncart{
    from{
        transform: scale(0) translateZ(-100%);
        opacity: 0;
        filter: blur(33px);
    }
    to{
        opacity: 1;
        transform: scale(1) translate(0,0);
    }
}
.Item_des, .Item_manufacturer--name {
    font-size: x-small;
    font-weight: 500;
    position: relative;
    z-index: 1;
}
.Item_product--name {
    font-size: large;
    font-weight:  700;
    margin-left: -1px;
    white-space: nowrap; /* Ngăn chữ xuống dòng */
    overflow: hidden; /* Ẩn phần dư thừa của nội dung */
    text-overflow: ellipsis; /* Hiển thị dấu ... khi nội dung bị cắt ngắn */
    position: relative;
    z-index: 1;


}

.Sale_item_img {
    margin: 2px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 65%;
    position: relative;
    z-index: 1;
}
.Sale_item_img::before{
    position: absolute;
    bottom: 0;
    background-color: rgb(55, 65, 81);
    height: 48px;
    width: 90%;
    border-radius: 50%;
    content: "";
    filter: blur(10px);
}
.Sale_item_img:hover{
    transform: scale(1.1);
    cursor: pointer;
    transition:0.6s ;
}
.Sale_img {
    height: 100%;
    z-index: 1;
}
.Sale_img img{
    display: none;
    width: 100%;
    object-fit: contain;
    height: 100%;
    z-index: 2;
}
.Sale_img input:checked ~ img{
    display: block;
}
.Sale_img input{
    position: absolute;
    display: none;
}
.item_color {
    display: flex;
    height: 15%;
    z-index: 1;
    position: relative;
}
.item_color label{
    width: 18%;
    height: 100%;
    margin: 0 1px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 12px;
    z-index: 3;
}
.btn_round.red {
    background-color: rgb(250, 83, 83);
}
.btn_round {
    height: 55%;
    width: 60%;
    border-radius: 50%;
    margin-top: 3px;
    border: none;
}
.btn_round:hover{
    cursor: pointer;
}
.btn_round.blue {
    background-color: rgb(45, 45, 253);
}
.btn_round.milk {
    background-color: mistyrose;
}
.btn_round.black{
    background-color: #383636;
}
.btn_round.pink{
    background-color: #d1c5db;
}
.btn_round.green{
    background-color: rgb(165 206 190);
}
.Item_more {
    position: relative;
    padding: 18px 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;

}
.Item_cart {
    position: absolute;
    background: linear-gradient(-45deg, #D000F7, #24BAE3);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    top: -30px;
    right: 20%;
    border: 5px solid rgb(22, 22, 22);
    display: none;
}
.Item_cart:hover{
    cursor: pointer;
    opacity: 0.6;
    transition: 0.5s;
}
.Item_cart::before{
    position: absolute;
    width: 40px;
    height: 32px;
    content: "";
    right: -40px;
    top: -6px;
    border-bottom-left-radius: 60%;
    box-shadow: 0 20px 0 0 rgb(22, 22, 22);
}
.Item_cart::after{
    position: absolute;
    width: 40px;
    height: 32px;
    content: "";
    left: -40px;
    top: -6px;
    border-bottom-right-radius: 60%;
    box-shadow: 0 20px 0 0 rgb(22, 22, 22);
}
.Item_eva {
    float: left;
    font-size: 14px;
}

.Item_cost {
    font-weight: 600;
    background: linear-gradient(-45deg, #D000F7, #24BAE3);
    background-clip: text;
    -webkit-background-clip: text; 
    color: transparent;
    z-index: 1;

}
.star_check{
    background: linear-gradient(-45deg, #D000F7, #24BAE3);
    background-clip: text;
    -webkit-background-clip: text; 
    color: transparent;

}

.price-and-discount {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 6px;
}
.Item_orgin_cost {
    font-weight: 300;
    text-decoration: line-through;
    margin-right: 6px;
}
.Item_persent_sale {
    background: linear-gradient(-45deg, #D000F7, #24BAE3);
    border: none;
    border-radius: 3px;
    width: 17%;
    display: flex;
    justify-content: center;
    font-weight: 500;
    margin-left: 6px;
}
.Item_quality {
    margin-top: 12px;
    background-color: rgb(55, 65, 81);
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    position: relative;
    z-index: 1;
}
.Item_quality::before{
    background: linear-gradient(-45deg, #D000F7, #24BAE3);
    height: 100%;
    width: 100%;
    content: "";
    position: absolute;
    left: 0px;
    border-radius: 4px;
    z-index: -1;
}
.Item_quality img{
    width: 100px;
    height: 100px;
    position: absolute;
    left: -50px;
}

/*quality*/
.Sale_category .row .l-3:nth-child(2) .Item_more  .Item_quality::before{
    width: 60%;
}
.Sale_category .row .l-3:nth-child(3) .Item_more  .Item_quality::before{
    width: 80%;
}
.Sale_category .row .l-3:nth-child(4) .Item_more  .Item_quality::before{
    width: 30%;
}
.Sale_category .row .l-3:nth-child(5) .Item_more  .Item_quality::before{
    width: 20%;
}
.Sale_category .row .l-3:nth-child(6) .Item_more  .Item_quality::before{
    width: 10%;
}
.Sale_category .row .l-3:nth-child(7) .Item_more  .Item_quality::before{
    width: 40%;
}
.Sale_category .row .l-3:nth-child(8) .Item_more  .Item_quality::before{
    width: 50%;
}

/*Product suggest*/
.Product_suggest {
    margin-top: 40px;
}
.Product_suggestPage{
    background: radial-gradient(at center center, rgb(55, 65, 81), rgb(17, 24, 39), rgb(0, 0, 0));
    box-shadow: 5px 5px 15px #2f3033, 
    -5px -5px 15px #131212;
    height: 100%;
    border-radius: 10px;

}
.Suggest_item{
    height: 450px;
    border-radius: 6%;
    background-color: rgb(22, 22, 22);
    box-shadow: 0px 15px 20px rgb(55, 65, 81);
    margin:20px 0;
    position: relative;
    padding-bottom: 8px;
}
.Suggest_item_attach {
    position: absolute;
    width: 60px;
    height: 60px;
    top: -20px;
    right: -18px;
    z-index: 2;


}
.Suggest_item_attach img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.Suggest_cover {
    height: 130px;
    display: flex;
    align-items: center;
    position: relative;
    color: white;
    font-size: 16px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Suggest_cover h1{
    background: linear-gradient(-45deg, #D000F7, #24BAE3);
    background-clip: text;
    -webkit-background-clip: text; 
    color: transparent; 
    -webkit-text-stroke: 2px #fff; 
    font-style:italic;
    font-size: xxx-large;
    z-index: 2;
}



.Suggest_category {
    margin-top: 10px;
    padding: 10px 0;
    color: rgb(219, 219, 219);

}

.Item_basicInfo{
    padding: 20px 16px;
    border-radius: 20px;
    height: 75%;
    background:  radial-gradient(at center center, rgb(55, 65, 81), rgb(17, 24, 39), rgb(0, 0, 0));
    box-shadow: inset -5px -5px 15px rgb(55, 65, 81), inset 5px 5px 15px rgb(0, 0, 0);   
}
.Suggest_item:hover .Item_cart{
    display: flex;
    animation: Oncart 0.3s ease-in-out 1 forwards;
    z-index: 2;
}
@keyframes Oncart{
    from{
        transform: scale(0) translateZ(-100%);
        opacity: 0;
        filter: blur(33px);
    }
    to{
        opacity: 1;
        transform: scale(1) translate(0,0);
    }
}
.Item_des, .Item_manufacturer--name {
    font-size: x-small;
    font-weight: 500;
    position: relative;
    z-index: 1;
}
.Item_product--name {
    font-size: large;
    font-weight:  700;
    margin-left: -1px;
    white-space: nowrap; /* Ngăn chữ xuống dòng */
    overflow: hidden; /* Ẩn phần dư thừa của nội dung */
    text-overflow: ellipsis; /* Hiển thị dấu ... khi nội dung bị cắt ngắn */
    position: relative;
    z-index: 1;


}

.Suggest_item_img {
    margin: 2px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 65%;
    position: relative;
    z-index: 1;
}
.Suggest_item_img::before{
    position: absolute;
    bottom: 0;
    background-color: rgb(55, 65, 81);
    height: 48px;
    width: 90%;
    border-radius: 50%;
    content: "";
    filter: blur(10px);
}
.Suggest_item_img:hover{
    transform: scale(1.1);
    cursor: pointer;
    transition:0.6s ;
}
.Suggest_img {
    height: 100%;
    z-index: 1;
}
.Suggest_img img{
    display: block;
    width: 100%;
    object-fit: contain;
    height: 100%;
    z-index: 2;
}

.item_color {
    display: flex;
    height: 15%;
    z-index: 1;
    position: relative;
}
.item_color label{
    width: 18%;
    height: 100%;
    margin: 0 1px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 12px;
    z-index: 3;
}
.btn_round.red {
    background-color: rgb(250, 83, 83);
}
.btn_round {
    height: 55%;
    width: 60%;
    border-radius: 50%;
    margin-top: 3px;
    border: none;
}
.btn_round:hover{
    cursor: pointer;
}
.btn_round.blue {
    background-color: rgb(45, 45, 253);
}
.btn_round.milk {
    background-color: mistyrose;
}
.btn_round.black{
    background-color: #383636;
}
.btn_round.pink{
    background-color: #d1c5db;
}
.btn_round.green{
    background-color: rgb(165 206 190);
}
.Item_more {
    position: relative;
    padding: 18px 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;

}
.Item_cart {
    position: absolute;
    background: linear-gradient(-45deg, #D000F7, #24BAE3);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    top: -30px;
    right: 20%;
    border: 5px solid rgb(22, 22, 22);
    display: none;
}
.Item_cart:hover{
    cursor: pointer;
    opacity: 0.6;
    transition: 0.5s;
}
.Item_cart::before{
    position: absolute;
    width: 40px;
    height: 32px;
    content: "";
    right: -40px;
    top: -6px;
    border-bottom-left-radius: 60%;
    box-shadow: 0 20px 0 0 rgb(22, 22, 22);
}
.Item_cart::after{
    position: absolute;
    width: 40px;
    height: 32px;
    content: "";
    left: -40px;
    top: -6px;
    border-bottom-right-radius: 60%;
    box-shadow: 0 20px 0 0 rgb(22, 22, 22);
}
.Item_eva {
    float: left;
    font-size: 14px;
}

.Item_cost {
    font-weight: 600;
    background: linear-gradient(-45deg, #D000F7, #24BAE3);
    background-clip: text;
    -webkit-background-clip: text; 
    color: transparent;
    z-index: 1;

}


.price-and-discount {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 6px;
}
.Item_orgin_cost {
    font-weight: 300;
    text-decoration: line-through;
    margin-right: 6px;
}
.Item_persent_Suggest {
    background: linear-gradient(-45deg, #D000F7, #24BAE3);
    border: none;
    border-radius: 3px;
    width: 17%;
    display: flex;
    justify-content: center;
    font-weight: 500;
    margin-left: 6px;
}



.star_check{
    background: linear-gradient(-45deg, #D000F7, #24BAE3);
    background-clip: text;
    -webkit-background-clip: text; 
    color: transparent;

}


/*FEEDBACK*/
.feed_back {margin-top: 100px;
    height: 900px;
    color: #fff;
}

.Title_formfb {
}
.Title_formfb h2{
    font-weight: 600;
}
.Title_formfb h1{
    font-size: xxx-large;
    position: relative;
}
.Title_formfb h1::before{
    background: linear-gradient(-45deg, #D000F7, #24BAE3);
    width: 60%;
    height: 10px;
    content: "";
    position: absolute;
    border-top-left-radius: 8px ;
    border-bottom-left-radius: 8px;
    border-top-right-radius:8px ;
    border-bottom-right-radius:8px ;
    bottom: -16px;
}
.form_fb1 {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;

}
.user {
    width: 48%;
    
}
.user_review {
    font-weight: 400;
    border-radius: 8px;
    text-align: justify;
    display: flex;
    padding: 15px 10px;
    color: #c1c8d3;
    box-shadow: 7px 16px 13px rgb(55, 65, 81) ;
    background: linear-gradient(to right bottom, rgb(55, 65, 81), rgb(17, 24, 39), rgb(0, 0, 0));
}
.user_info {
    display: flex;
    margin-top:50px;
    justify-content: space-between;
}
.user_img {
    width: 13%;
    border-radius: 50%;
    height: 70px;
    object-fit: cover;
    box-shadow: 3px 6px 13px rgb(55, 65, 81) ;

}
.user_info > div{
    width: 84%;
}
.user_name {
    font-size: large;
    background: linear-gradient(-45deg, #D000F7, #24BAE3);
    background-clip: text;
    -webkit-background-clip: text; 
    color: transparent;
    margin-bottom: 16px;
}
.user_desc {
    font-weight: 400;
    color: whitesmoke;
}
.form_fb2 {
    margin-top: 50px;
    width: 90%;
    margin: 50px auto 0 auto;
    height: 260px;
    border-radius: 8px;
    
}
.form_fb2 > .user{
    width: 100%;
    padding: 15px 10px;
    background: radial-gradient(at center top, rgb(55, 65, 81), rgb(17, 24, 39), rgb(0, 0, 0));
    box-shadow: 5px 5px 15px #2f3033, -5px -5px 15px #131212;}
.user_item {
    display: flex;
    height: 100%;
    justify-content: space-between;
    padding-bottom: 10px;
    border-bottom: 1px solid gray;
}
.user_item > .user_img{
    width: 4%;
    height: 40px;
    box-shadow: 0px 0px 0px;
}
.user_item > .user_info{
    flex-direction: column;
    margin-top: 0;
    width: 90%;
    justify-content: flex-start;
}
.user_item > .user_info > .user_name{
    margin-bottom: 3px;
    color: whitesmoke;
    font-weight: 600;
}
.user_item > .user_info > .user_nickname{
    color: #ccc;
    margin-top: 3px;
    font-weight: 300;
}
.user_note{
    margin-top: 20px;
    text-align: justify;
}

.slide_doc {
    height: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.slide_doc span {
    width: 8px;
    height: 8px;
    background-color: #ccc;
    margin: 0 3px;
    border-radius: 50%;
}
.slide_doc span:nth-child(1)
{
    background: linear-gradient(-45deg, #D000F7, #24BAE3);
}

/*footer*/
footer{
background: radial-gradient(at center center, rgb(55, 65, 81), rgb(17, 24, 39), rgb(0, 0, 0));
box-shadow: 5px -6px 15px #2f3033;
}

.footer{
    display: flex;
    justify-content: space-between;
    height: 400px;
    padding-top: 40px;

}
.company_info {
    width: 42%;
    color: whitesmoke;
}
.company_logo {
    width: 50%;
    position: relative;
}
.company_logo img{
    position: absolute;
    width: 100%;
    top: -115px;
    left: -32px;
}
.company_name {
    margin-top: 145px;
    background: linear-gradient(-45deg, #D000F7, #24BAE3);
    background-clip: text;
    -webkit-background-clip: text; 
    color: transparent;

}
.company_address, .company_phone {
    font-size: small;
    font-weight: 400;
    margin-top: 3px;
}
.company_time--active{
    margin-top: 3px;
    background: linear-gradient(-45deg, #D000F7, #24BAE3);
    background-clip: text;
    -webkit-background-clip: text; 
    color: transparent;
}
.company_link {
    width: 10%;
}
.company_link ul{
    list-style: none;
    padding-left: 0;
    color: whitesmoke;
}
.company_link ul span{
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 3px;
}

.company_link ul li a{
    text-decoration: none;
    color: whitesmoke;
    font-size: 14px;

}
.company_link ul li a:hover{
    background: linear-gradient(-45deg, #D000F7, #24BAE3);
    background-clip: text;
    -webkit-background-clip: text; 
    color: transparent;
    transition: 0.2s;
}
.web_Ship {
    width: 15%;
    color: whitesmoke;


}
.web_Ship span{
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 3px;
    
}

.item--ship {display: flex;
    margin-top: 3px;
    flex-wrap: wrap;
    justify-content: space-between;
}


.item_img-ship {
    width: 48%;
    height: 10%;
}
.item_img-ship img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.item_link--recognize {
    width: 100%;
    margin-top: 3px;
}
.item_link--recognize img{
    width: 100%;
}
.web_contact {
    width: 25%;
    display: flex;
    flex-direction: column;
    color: white;
}
.Contact_title {
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 3px;
}
.Contact_des {
    font-size: 14px;
    margin-bottom: 16px;
    text-align: justify;
}
.Contact_input {
    color: white;
    width: 100%;
    height: 13%;
    border: none;
    background-color: #ccc;
    opacity: 0.5;
    margin-bottom: 6px;
    border-radius: 15px;
    padding-left: 12px;
}

.contact_send {
 width: 30%;
 height: 10%;
 border-radius: 8px;
 border: none;
 background: linear-gradient(-45deg, #D000F7, #24BAE3);
 box-shadow: 1.5px 4px 10px rgba(208, 0, 247, 0.7);
 margin-top: 6px;
 color: whitesmoke;
}
.contact_send:hover{
    opacity: 0.6;
    transition: 0.6s;
    cursor: pointer;
}
.footer_license {
    display: flex;
    justify-content: space-between;
}
.footer_license--info{
    background-color: #131212;
    box-shadow: 5px -6px 15px #2f3033;
    display: flex;
}
.footer_license--network{
    display: flex;
}
.footer_license--info .footer_license_item{
    color: #fff;
    font-size: 14px;
    margin-right: 10px;
}
.footer_license--network .footer_license_item{
    color: #fff;
    font-size: 14px;
    margin-left: 10px;
}
