
@media screen and (max-width: 767px){
    .banner{
        grid-template-columns: 1fr;
    }
    .banner .content h1{
        font-size: 1.2em;
    }
    .banner .avatar{
        grid-row-start: 1;
    }
     .navDiv{
        display: flex;
        justify-content: end;
    }

    .banner .content{
        padding-right: 0px;
    }
    .listSkill{
        grid-template-columns: 1fr;
    }
    .listProject{
        grid-template-columns: 1fr;
    }
    
}


@media (max-width: 740px) {
    body {
        width: 100%;
        background-color: red;
    }
    header{
        width: 100%;
    }
}